.centertext {
    width: 900px;
    height: 350px;
    /* background-color: red; */
    margin-left: calc(50% - 450px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centerP {
    text-align: center;
    font-size: 27px;
    color: white;
    margin: 0px;
}
.centerH {
    margin: 20px;
    margin-top: 0px;
    font-size: 50px;
}